@use '../colors';

footer {
  background-color: colors.$primary-color;
  min-height: 30vh;
  img {
    height: 5rem;
    width: auto;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-bottom: 0.5rem;
      &:last-child {
        padding-bottom: 0rem;
      }
      a {
        @include colors.link-preset-bright-gray;
        font-weight: 400;
        p:hover {
          color: colors.$accent-color;
        }
      }
    }
  }
}