@use '../colors';

.page-banner {
  min-height: 40vh;
  display: flex;
  align-items: flex-end;
  img {
    height: 50vh !important;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
  }
}

@media only screen and (max-width: 991px) {
  .page-banner {
    min-height: 0vh;
    padding-top: 4rem;
    .page-banner-image {
      min-height: 0vh;
    }
  }
}
