@use '../colors';

.about-me__main {
  .about-me__profile-picture-container {
    position: relative;
    aspect-ratio : 1 / 1;
    width: 100%;
    .about-me__profile-picture {
      border: 1rem solid colors.$primary-color;
      border-radius: 50%;
    }
  }
}