@use '../colors';

.the-process__main {
  min-height: 80vh;
  background-color: colors.$primary-secondary-color;
  .profile-picture-container {
    position: relative;
    aspect-ratio : 1 / 1;
    width: 100%;
    .profile-picture-image {
      object-fit: contain;
      border: 1rem solid colors.$primary-color;
    }
  }
}