@use '../colors';

.home__banner {
  min-height: 92.2dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero__banner-image {
    filter: brightness(20%);
    z-index: -1;
  }
  .hero__banner-video {
    aspect-ratio : 16 / 8;
    border-radius: 1rem;
  }
}

// @media only screen and (max-width: 768px) {
//   .home__banner {
//     .hero__banner-video {
//       aspect-ratio : 16 / 8;
//     }
//   }
// }