@use '../colors';

.home__why-exercise {
  background-color: colors.$primary-color;
  h2::after {
    content: '';
    background: #EEEEEE;
    height: 0.3rem;
    border-radius: 1rem;
    display: block;
    width: 40%;
    margin: auto;
  }
}